<section *ngIf="(film$ | async) as film"
         class="page">
  <header class="page-header">
    <h1 class="page-header-title">
      {{film.Title}}
    </h1>
    <button mat-raised-button
            (click)="addToFavorite()"
            color="primary">Добавить в избранное
    </button>
  </header>
  <main class="page-main">
    <div class="page-main-left">
      <img [src]="film.Poster"
           [alt]="film.Title"
           class="page-main-left-poster">
    </div>
    <div class="page-main-right">
      <div *ngFor="let field of fields"
           class="page-main-right-row">
        <h4 class="page-main-right-row-name">{{field.name}}:</h4>
        <p class="page-main-right-row-value">{{film[field.id]}}</p>
      </div>
    </div>
    <div class="page-main-bottom">
      <p class="page-main-bottom-description">
      </p>
    </div>
  </main>
</section>

<section *ngIf="!(film$ | async)"
         class="page">
  <header class="page-header">
    <h1 class="page-header-title">Фильм не найден</h1>
  </header>
  <main class="page-main">
    <div class="page-main-bottom">
      <p class="page-main-bottom-description">
        <a routerLink="/">На главную</a>
      </p>
    </div>
  </main>
</section>
