<section class="page">
  <header class="page-header">
    <h1 class="page-header-title">Поиск фильмов</h1>
  </header>
  <main class="page-main">
    <form (submit)="searchBySubmit()"
          [formGroup]="autoCompleteForm"
          class="page-main-form">
      <mat-form-field class="page-main-form-complete cerulean-theme">
        <input type="text"
               matInput
               autofocus
               formControlName="query"
               placeholder="Начните вводить название фильма ..."
               [matAutocomplete]="auto"
               class="page-main-form-complete-input">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchByComplete()">
          <mat-option *ngFor="let completion of completions$ | async"
                      [value]="completion.Title">
            {{completion.Title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="page-main-founds" *ngFor="let film of foundedFilms$ | async">
      <mat-card class="page-main-founds-film">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="film.Poster"
                 [alt]="film.Title"
                 class="page-main-founds-film-poster">
          </div>
          <mat-card-title>{{film.Title}}</mat-card-title>
          <mat-card-subtitle>{{film.Year}}</mat-card-subtitle>
          <mat-card-subtitle>{{film.Type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </main>
</section>
