@import "src/assets/style-guides/index.scss";

.page {

  &-header {
    @include width100HeightContent();

    &-title {
      @include titleText();
    }
  }

  &-main {
    width: 100%;

    &-form {
      &-complete {
        @include scrollbar();
        width: 100%;
        padding: 24px 0;

        &-input {
          width: 100%;
        }
      }
    }
  }
}
