$textColor: #13273E;
$lightTextColor: #e0eff7;
$whiteTextColor: #FFF;
$blueTextColor: #004d96;
$redTextColor: #E44C4C;

$blue: #004d96;
$red: #E44C4C;
$green: #12C56F;
$iconColor: #96ABC8;

$backgroundWhite: #FFF;
$backgroundLightBlue: #e0eff7;
