@import "colors.scss";

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 3px;

    &-track {
      background: transparent;
    }

    &-thumb {
      background: $blue;
      border-radius: 1.5px;

      &:hover {
        background: darken($blue, 10%);
      }
    }
  }
}


@mixin width100HeightValue($value) {
  width: 100%;
  height: $value;
}

@mixin width100HeightContent {
  width: 100%;
  height: fit-content;
}

@mixin stretch() {
  flex-grow: 5;
  flex-shrink: 5;
}

@mixin noStretch() {
  flex-grow: 0;
  flex-shrink: 0;
}


@mixin flexRowNoWrap() {
  display: flex;
  flex-flow: row nowrap;
}

@mixin flexColumnNoWrap() {
  display: flex;
  flex-flow: column nowrap;
}

@mixin flexRowNowrapContentStretchItemsCenter() {
  @include flexColumnNoWrap();
  justify-content: stretch;
  align-items: center;
}

@mixin flexRowNowrapContentBetweenItemsCenter() {
  @include flexRowNoWrap();
  justify-content: space-between;
  align-items: center;
}


@mixin titleText() {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}
