@import "../../../../src/assets/style-guides/index.scss";

.page {

  &-header {
    @include width100HeightContent();

    &-title {
      @include titleText();
    }
  }

  &-main {
    width: 100%;

    &-desciption {
      @include normalText();
    }
  }
}
