@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "assets/style-guides/index.scss";


html {
  @include scrollbar();
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $textColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

input, button {
  border: none;
  background: transparent;
}

button {
  cursor: pointer;
}

* {
  outline: none !important;
}

div, header, footer, aside, main, section {
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}
