@import '~@angular/material/theming';
@include mat-core();

$md-yellow-palette: (
  50 : #fffbed,
  100 : #fff5d1,
  200 : #ffeeb3,
  300 : #ffe795,
  400 : #ffe27e,
  500 : #ffdd67,
  600 : #ffd95f,
  700 : #ffd454,
  800 : #ffcf4a,
  900 : #ffc739,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff6e2,
  A700 : #ffefc9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-cerulean: (
  50 : #e0eff7,
  100 : #b3d8eb,
  200 : #80bedd,
  300 : #4da4cf,
  400 : #2691c5,
  500 : #007dbb,
  600 : #0075b5,
  700 : #006aac,
  800 : #0060a4,
  900 : #004d96,
  A100 : #c1ddff,
  A200 : #8ec0ff,
  A400 : #5ba4ff,
  A700 : #4196ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-app-primary: mat-palette($md-cerulean);
$my-app-accent: mat-palette($md-cerulean, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

.yellow-theme {
  $alternate-primary: mat-palette($md-yellow-palette);
  $alternate-accent: mat-palette($mat-deep-orange, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

.gray-theme {
  $alternate-gray-primary: mat-palette($mat-blue-gray);
  $alternate-gray-accent: mat-palette($mat-blue-gray, 400);
  $alternate-gray-theme: mat-light-theme($alternate-gray-primary, $alternate-gray-accent);
  @include angular-material-theme($alternate-gray-theme);
}

.cerulean-theme {
  $alternate-gray-primary: mat-palette($md-cerulean);
  $alternate-gray-accent: mat-palette($md-cerulean, 400);
  $alternate-gray-theme: mat-light-theme($alternate-gray-primary, $alternate-gray-accent);
  @include angular-material-theme($alternate-gray-theme);
}
